<div class="ArticleContributors__bio___3XQjk">
    <div class="ArticleContributors__contributorWrapper___1CrIJ">
        <div class="Avatar__avatar___1_uRc ArticleContributors__bioAvatar___11Nu0">
            <a class="Link__link___3dWao  " href="/contributors/margaret-talbot">
                <div class="Image__image___1PhYl" role="button" tabindex="0">
                    <picture class="component-responsive-image">
                        <source srcSet="https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_130,c_limit/talbot-margaret.png, https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_260,c_limit/talbot-margaret.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_130,c_limit/talbot-margaret.png" title="" /></picture>
                </div>
            </a>
        </div>
        <ul class="ArticleContributors__contributorBios___3_jrJ false">
            <li>
                <p class="ArticleContributors__contributorBioText___3m1QB">Margaret Talbot is a staff writer at The New Yorker and the author of “<a href="https://www.amazon.com/dp/1594631883/?tag=thneyo0f-20">The Entertainer: Movies, Magic and My Father’s Twentieth Century</a>.”</p><a class="Link__link___3dWao ArticleContributors__contributorBioLink___3ifgZ " href="/contributors/margaret-talbot">Read more »</a></li>
        </ul>
    </div>
</div>
