<nav class="IndexNavigation__indexNavLinkWrapper___31H6H">
    <a class="Link__link___3dWao IndexNavigation__indexNavLink___C005W " href="http://www.newyorker.com/books/page-turner">
        <span>Page-Turner</span>
    </a>
    <a class="Link__link___3dWao IndexNavigation__indexNavLink___C005W " href="http://www.newyorker.com/magazine/fiction">
        <span>Fiction</span>
    </a>
    <a class="Link__link___3dWao IndexNavigation__indexNavLink___C005W " href="http://www.newyorker.com/podcast/fiction">
        <span>Fiction Podcast</span>
    </a>
    <a class="Link__link___3dWao IndexNavigation__indexNavLink___C005W " href="http://www.newyorker.com/magazine/poems">
        <span>Poetry</span>
    </a>
    <a class="Link__link___3dWao IndexNavigation__indexNavLink___C005W " href="http://www.newyorker.com/podcast/poetry">
        <span>Poetry Podcast</span>
    </a>
</nav>
