<section class="SoloPromoSection__promoWrapper___2zsVH ">
    <div class="SoloPromoSection__promoColumn___1LgrN">
        <span class="SoloPromoSection__border___5SXPq"></span>
        <div class="Image__image___1PhYl SoloPromoSection__promoImage___4tYZW" role="button" tabindex="0">
            <picture class="component-responsive-image">
                <source srcSet="https://media.newyorker.com/photos/5c66325c715e6a5a5a904370/1:1/w_68,c_limit/poetry.png, https://media.newyorker.com/photos/5c66325c715e6a5a5a904370/1:1/w_136,c_limit/poetry.png 2x" />
                <img alt="" src="https://media.newyorker.com/photos/5c66325c715e6a5a5a904370/1:1/w_68,c_limit/poetry.png" title="" />
            </picture>
        </div>
        <p class="SoloPromoSection__promo___2XQ_v">
            <span>Follow
            <a href="https://www.newyorker.com/books/page-turner/celebrate-national-poetry-month-with-the-new-yorker-poetry-bot">the
              <em>New Yorker</em> poetry bot
            </a> for a new poem every day.
          </span>
            <span></span>
        </p>
    </div>
</section>
