---
title: Data Science
quote: All models are wrong; some are useful
quote_author: George Box
---

<section class="hero">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">{{page.title}}</h1>
			<div class="subtext">
				<blockquote cite="">
					<p>{{page.quote}}</p>
					<p></p>
					<p>— <strong>{{page.quote_author}}</strong></p>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="text-container" id="bottom-spaced">
		<!-- <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p> -->
		<ul class="blog-posts">
			{% for post in site.categories.science %}
				<li class="blog-post">
					<h2><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
					{% include post-title.html post=post %}
					<div class="post-excerpt">
						{{ post.excerpt }}
						<a href="{% include relative-src.html src=post.url %}">Read More</a>
					</div>
				</li>
			{% endfor %}
		</ul>
		<p class="">You can read all essays in the <a class="blog-post" href="/archive">Archive</a></p>
</section>
