<div class="ContributorsSection__twoColumn___3aCEa">
    <section data-track-type="recirc" data-track-location="mod-contributors" data-service="none" data-source="curated" class="ContributorsSection__section___abHAt">
        <div class="ContributorsSection__sectionRow___J3SGx">
            <div class="ContributorsSection__sectionColumn___2_3FJ">
                <h5 class="ContributorsSection__sectionHeader___1LeEd">Contributors</h5>
                <div class="ContributorsSection__wrapper___2PiNU">
                    <div class="Contributor__itemContainer___3CS3_">
                        <a class="Link__link___3dWao  " href="/contributors/jia-tolentino">
                            <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                <picture class="component-responsive-image">
                                    <source srcSet="https://media.newyorker.com/photos/59097b79ebe912338a37865e/1:1/w_130,c_limit/tolentino-jia-1.png, https://media.newyorker.com/photos/59097b79ebe912338a37865e/1:1/w_260,c_limit/tolentino-jia-1.png 2x" />
                                    <img alt="" src="https://media.newyorker.com/photos/59097b79ebe912338a37865e/1:1/w_130,c_limit/tolentino-jia-1.png" title="" />
                                </picture>
                            </div>
                        </a>
                        <div>
                            <a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/jia-tolentino">Jia Tolentino</a>
                            <a class="Link__link___3dWao  " href="/magazine/2019/05/27/losing-religion-and-finding-ecstasy-in-houston">
                                <h3 class="Contributor__hed___2z_RO">Faith and Other Drugs</h3>
                            </a>
                            <a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/jia-tolentino">All Work</a>
                        </div>
                    </div>
                    <div class="Contributor__itemContainer___3CS3_">
                        <a class="Link__link___3dWao  " href="/contributors/dan-chiasson">
                            <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                <picture class="component-responsive-image">
                                    <source srcSet="https://media.newyorker.com/photos/59097c4d019dfc3494ea387a/1:1/w_130,c_limit/chiasson-dan-1.png, https://media.newyorker.com/photos/59097c4d019dfc3494ea387a/1:1/w_260,c_limit/chiasson-dan-1.png 2x" />
                                    <img alt="" src="https://media.newyorker.com/photos/59097c4d019dfc3494ea387a/1:1/w_130,c_limit/chiasson-dan-1.png" title="" />
                                </picture>
                            </div>
                        </a>
                        <div>
                            <a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/dan-chiasson">Dan Chiasson</a>
                            <a class="Link__link___3dWao  " href="/magazine/2019/04/08/poetry-that-bears-witness-to-a-changing-natural-world">
                                <h3 class="Contributor__hed___2z_RO">Poetry That Bears Witness to a Changing Natural World</h3>
                            </a>
                            <a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/dan-chiasson">All Work</a>
                        </div>
                    </div>
                    <div class="Contributor__itemContainer___3CS3_">
                        <a class="Link__link___3dWao  " href="/contributors/alexandra-schwartz">
                            <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                <picture class="component-responsive-image">
                                    <source srcSet="https://media.newyorker.com/photos/59097b792179605b11ad8f1a/1:1/w_130,c_limit/schwartz-alexandra.png, https://media.newyorker.com/photos/59097b792179605b11ad8f1a/1:1/w_260,c_limit/schwartz-alexandra.png 2x" />
                                    <img alt="" src="https://media.newyorker.com/photos/59097b792179605b11ad8f1a/1:1/w_130,c_limit/schwartz-alexandra.png" title="" />
                                </picture>
                            </div>
                        </a>
                        <div>
                            <a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/alexandra-schwartz">Alexandra Schwartz</a>
                            <a class="Link__link___3dWao  " href="/magazine/2019/03/25/a-beloved-canadian-novelist-reckons-with-her-mennonite-past">
                                <h3 class="Contributor__hed___2z_RO">A Beloved Canadian Novelist Reckons with Her Mennonite Past</h3>
                            </a>
                            <a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/alexandra-schwartz">All Work</a>
                        </div>
                    </div>
                    <div class="Contributor__itemContainer___3CS3_">
                        <a class="Link__link___3dWao  " href="/contributors/hua-hsu">
                            <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                <picture class="component-responsive-image">
                                    <source srcSet="https://media.newyorker.com/photos/59097b7d1c7a8e33fb39020e/1:1/w_130,c_limit/hsu-hua.png, https://media.newyorker.com/photos/59097b7d1c7a8e33fb39020e/1:1/w_260,c_limit/hsu-hua.png 2x" />
                                    <img alt="" src="https://media.newyorker.com/photos/59097b7d1c7a8e33fb39020e/1:1/w_130,c_limit/hsu-hua.png" title="" />
                                </picture>
                            </div>
                        </a>
                        <div>
                            <a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/hua-hsu">Hua Hsu</a>
                            <a class="Link__link___3dWao  " href="/magazine/2019/03/25/affect-theory-and-the-new-age-of-anxiety">
                                <h3 class="Contributor__hed___2z_RO">Affect Theory and the New Age of Anxiety</h3>
                            </a>
                            <a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/hua-hsu">All Work</a>
                        </div>
                    </div>
                </div>
                <a class="Link__link___3dWao  Link__secondary___3lxp9" href="/contributors">More Contributors</a>
            </div>
        </div>
    </section>
    <section class="MostPopularSection__section___2xjs1">
        <div class="MostPopularSection__sectionRow___1mfu3">
            <div class="MostPopularSection__sectionColumn___K50O1">
                <div class="RecirculationMostPopular__home___24fon">
                    <h3 class="RecirculationMostPopular__title___zwZ4R">Most Popular</h3>
                    <ul data-track-type="recirc" data-track-location="mod-most-popular" data-service="parsely" data-source="parsely" class="RecirculationMostPopular__itemsList___2lXkt">
                        <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="0">
                            <span class="RecirculationMostPopular__counter___3YFww">1.</span>
                            <div class="RecirculationMostPopular__content___1no0_">
                                <span class="RecirculationMostPopular__rubric___29E94">The New Yorker Interview</span>
                                <a class="Link__link___3dWao  " href="/culture/the-new-yorker-interview/daenerys-tells-all-game-of-thrones-finale-emilia-clarke-beyonce">
                                    <h5 class="RecirculationMostPopular__hed___1Yugq">Daenerys Tells All!</h5>
                                </a>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By
                                        <a class="Link__link___3dWao  " title="Sarah Larson" rel="author" href="/contributors/sarah-larson">Sarah Larson</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="1">
                            <span class="RecirculationMostPopular__counter___3YFww">2.</span>
                            <div class="RecirculationMostPopular__content___1no0_">
                                <span class="RecirculationMostPopular__rubric___29E94">Persons of Interest</span>
                                <a class="Link__link___3dWao  " href="/culture/persons-of-interest/the-particular-drama-of-simona-halep">
                                    <h5 class="RecirculationMostPopular__hed___1Yugq">The Particular Drama of Simona Halep</h5>
                                </a>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By
                                        <a class="Link__link___3dWao  " title="Louisa Thomas" rel="author" href="/contributors/louisa-thomas">Louisa Thomas</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="2">
                            <span class="RecirculationMostPopular__counter___3YFww">3.</span>
                            <div class="RecirculationMostPopular__content___1no0_">
                                <span class="RecirculationMostPopular__rubric___29E94">Personal History</span>
                                <a class="Link__link___3dWao  " href="/culture/personal-history/emilia-clarke-a-battle-for-my-life-brain-aneurysm-surgery-game-of-thrones">
                                    <h5 class="RecirculationMostPopular__hed___1Yugq">Emilia Clarke, of “Game of Thrones,” on Surviving Two Life-Threatening Aneurysms</h5>
                                </a>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By
                                        <a class="Link__link___3dWao  " title="Emilia Clarke" rel="author" href="/contributors/emilia-clarke">Emilia Clarke</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="3">
                            <span class="RecirculationMostPopular__counter___3YFww">4.</span>
                            <div class="RecirculationMostPopular__content___1no0_">
                                <span class="RecirculationMostPopular__rubric___29E94">A Reporter at Large</span>
                                <a class="Link__link___3dWao  " href="/magazine/2019/06/03/how-football-leaks-is-exposing-corruption-in-european-soccer">
                                    <h5 class="RecirculationMostPopular__hed___1Yugq">How Football Leaks Is Exposing Corruption in European Soccer</h5>
                                </a>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By
                                        <a class="Link__link___3dWao  " title="Sam Knight" rel="author" href="/contributors/sam-knight">Sam Knight</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="4">
                            <span class="RecirculationMostPopular__counter___3YFww">5.</span>
                            <div class="RecirculationMostPopular__content___1no0_">
                                <span class="RecirculationMostPopular__rubric___29E94">Onward and Upward with the Arts</span>
                                <a class="Link__link___3dWao  " href="/magazine/2019/06/03/antonio-salieris-revenge">
                                    <h5 class="RecirculationMostPopular__hed___1Yugq">Antonio Salieri’s Revenge</h5>
                                </a>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By
                                        <a class="Link__link___3dWao  " title="Alex Ross" rel="author" href="/contributors/alex-ross">Alex Ross</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="Link__link___3dWao RecirculationMostPopular__more___q6L9B Link__secondary___3lxp9" href="/popular?intcid=most-popular">
                        <span>our thirty most popular</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
