---
layout: default
---

<div id="home">
<h2>Reading</h2>
<ul class="posts">
  {% for tags in site.tags %}
  <li id="clean">{{ tags | first | capitalize }}
  <ul>
    {% for post in site.categories.booknotes %}
      {% for tag in post.tags %}
        {% if tags contains tag %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}

    {% endfor %}
  </ul>
  </li>
  {% endfor %}
  <p id="spacing"> </p>
<h4>You can also search my notes <a href="/index-booknotes.html">in chronological order</a>.</h4>
</ul>
</div>
