---
image: images/london-light.JPG
image_about: images/profile_pic.JPG
image_reading: images/sandiego.JPG
image_contact: images/capco_conference.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="">Hi, I'm <a href="#learn-more">Álvaro</a>!</h1>
			<p class="subtext">{% capture subtext %}{% include index-01-subtext.md %}{% endcapture %}{{ subtext | markdownify }}</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>

</section>

<div class="content">

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="">Data Scientist, Mentor and Software Engineer</h2>
				<p class="">{% capture about %}{% include index-02-about.md %}{% endcapture %}{{ about | markdownify }}</p>
			</div>
			<div class="image">
				<img class="" src="{% include relative-src.html src=page.image_about %}" alt="Picture about section" />
			</div>
		</div>
	</section>

<!--	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class=""><a href="/reading">Reading</a></h2>
				<p class="">{% capture reading %}{% include index-03-reading.md %}{% endcapture %}{{ reading | markdownify }}</p>
			</div>
			<div class="image">
				<img class="" src="{% include relative-src.html src=page.image_reading %}" alt="Picture reading section" />
			</div>
		</div>
	</section> -->

	<section class="info" id="contact">
		<div class="container flex">
			<div class="text">
				<h2 class=""><a href="/#contact">Contact</a></h2>
				<p class="">{% capture contact %}{% include index-04-contact.md %}{% endcapture %}{{ contact | markdownify }}</p>
			</div>
			<div class="image">
				<img class="" src="{% include relative-src.html src=page.image_contact %}" alt="Picture contact section" />
			</div>
		</div>
	</section>
</div>
