---
layout: default
---

<div id="home">

<h2>Journal Entries</h2>

<ul>
{% for category in site.categories %}
  <li id="li-clean"><a name="{{ category | first }}" href="/index-{{ category | first }}.html"><h3>{{ category | first| capitalize }}</h3></a>
    <ul>
    {% for post in category.last %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" href="{{ post.url }}">{{ post.title }}</a></li>
      {% unless post.categories contains 'booknotes' %}
      <h5>{{ post.excerpt }}</h5>
      {% else %}
      <br>
      {% endunless %}
    {% endfor %}
    <p id="spacing"> </p>
    </ul>
  </li>
{% endfor %}
</ul>
