<div class="Drawer__drawer___2bwvY Drawer__full___2kvnH">
    <div class="Drawer__menu___1vYCL">
        <div class="SearchInput__modalSearchInput___31Bpr ">
            <form>
                <div>
                    <input type="text" id="search-input-menu" placeholder="Search" />
                    <div class="SearchInput__modalIcon___YSkrm"><i class="SearchInput__modalIcon___YSkrm"><svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M2 7.5C2 4.468 4.468 2 7.5 2S13 4.468 13 7.5 10.532 13 7.5 13 2 10.532 2 7.5zm16 9.086l-4.545-4.545C14.42 10.779 15 9.208 15 7.5 15 3.364 11.636 0 7.5 0S0 3.364 0 7.5 3.364 15 7.5 15c1.708 0 3.279-.58 4.541-1.545L16.586 18 18 16.586z" fill="#121212" fill-rule="evenodd" /></svg></i></div>
                </div>
            </form>
        </div>
        <div class="UserInfo__drawerMenu___2v2Tk">
            <div class="UserInfo__userInfoItems___2TxZh">
                <div class="SignIn__signIn___1aO_Z"><a class="Link__link___3dWao  " href="https://account.newyorker.com">Sign in</a></div><a class="Link__link___3dWao UserInfo__shop___20W-I " href="http://www.condenaststore.com/~/new-yorker-store?utm_medium=referral&amp;utm_source=NewYorker&amp;utm_content=SHOP&amp;AID=1247905545">Shop</a></div>
        </div>
        <div class="Navigation__drawerMenu___2KwE1">
            <ul>
                <li data-track-type="nav" data-track-location="button-news"><a class="Link__link___3dWao  " href="/news">News</a></li>
                <li data-track-type="nav" data-track-location="button-culture"><a class="Link__link___3dWao  " href="/culture">Culture</a></li>
                <li data-track-type="nav" data-track-location="button-books"><a class="Link__link___3dWao  " href="/books">Books</a></li>
                <li data-track-type="nav" data-track-location="button-business-&amp;-tech"><a class="Link__link___3dWao  " href="/business">Business &amp; Tech</a></li>
                <li data-track-type="nav" data-track-location="button-humor"><a class="Link__link___3dWao  " href="/humor">Humor</a></li>
                <li data-track-type="nav" data-track-location="button-cartoons"><a class="Link__link___3dWao  " href="/cartoons">Cartoons</a></li>
                <li data-track-type="nav" data-track-location="button-magazine"><a class="Link__link___3dWao  " href="/magazine">Magazine</a></li>
                <li data-track-type="nav" data-track-location="button-video"><a class="Link__link___3dWao  " href="http://video.newyorker.com">Video</a></li>
                <li data-track-type="nav" data-track-location="button-podcasts"><a class="Link__link___3dWao  " href="/podcast">Podcasts</a></li>
                <li data-track-type="nav" data-track-location="button-archive"><a class="Link__link___3dWao  " href="/archive">Archive</a></li>
                <li data-track-type="nav" data-track-location="button-goings-on"><a class="Link__link___3dWao  " href="/goings-on-about-town">Goings On</a></li>
            </ul>
            <div data-cns="cns-slot-mobile-cover" class="Ad__mobile-cover___PoNJp"></div>
        </div>
        <div id="signup-mobilenav" class="NewsletterSignup__newsletter___QS2Rl NewsletterSignup__mobile___15OuC">
            <form id="mobilenav" class="NewsletterCallout__newsletterForm___KelJX" autoComplete="on">
                <div>Get the best of <em>The New Yorker</em> in your in-box every day.</div>
                <div class="NewsletterCallout__email___YjWMa">
                    <div class="Input__inputContainer___3ZRfk">
                        <input type="email" autoComplete="on" class="Input__input___2fcvD " name="email" placeholder="Enter your e-mail" />
                        <button class="Input__inputButton___2--U_" type="submit">Submit</button>
                    </div>
                </div>
                <div class="NewsletterCallout__privacy___2y2OX"><a class="Link__link___3dWao  " href="https://www.condenast.com/privacy-policy#privacypolicy">Privacy Policy</a></div>
                <input type="hidden" name="newsletterIds" value="217" />
            </form>
        </div>
    </div>
    <div class="Drawer__overlay___TrAm9 Drawer__hidden___3dbNT" role="button" tabindex="0"></div>
</div>
