<footer data-track-type="nav" data-track-location="page-footer" class="SiteFooter__footer___2CFaR">
    <div class="FooterPromoLinks__promoLinks___3HDWB">
        <div class="FooterPromoLinks__container___fzxb9">
            <div class="FooterPromoLinks__featureLinks___17S0N">
                <div>
                    <h4>Made by <a class="Link__link___3dWao" href="/mystory">AD</a></h4>
                    <h4>Book pictures by <a class="Link__link___3dWao" href="https://www.amazon.com/?&_encoding=UTF8&tag=alvaroduran-20&linkCode=ur2&linkId=c13dea527579fda47d0bc1c744e0c38f&camp=1789&creative=9325">Amazon</a></h4>
                    <h4>See a list of all books mentioned <a class="Link__link___3dWao" href="/mentioned">here</a></h4>
            </div>
        </div>
    </div>
    <div class="SiteFooter__footerContainer___2Ueuo">
        <div class="SiteFooter__footerContent___36hmA">
            <div class="FooterDirectory__directoryContainer___1tqT-">
                <div class="FooterDirectory__directory___C4Dvz">
                    <div class="FooterDirectory__panel___2uuX1">
                        <h4><a href="/books">Best Rated Books</a></h4>
                        <ul>
                          {% assign books = (site.books | sort: "rating") | reverse | slice: 0, 5 %}
                          {% for post in books %}
                            <li><a class="Link__link___3dWao  " href="{{ post.url }}">{{ forloop.index }}. {{ post.title }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="FooterDirectory__panel___2uuX1">
                        <h4><a href="/articles">Best Essays</a></h4>
                        <ul>
                          {% assign articles = (site.articles | sort: "rating") | reverse | slice: 0, 5 %}
                          {% for post in articles %}
                            <li><a class="Link__link___3dWao  " href="{{ post.url }}">{{ forloop.index }}. {{ post.title }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="FooterDirectory__panel___2uuX1">
                        <h4><a href="/journal">Best Journal Entries</a></h4>
                        <ul>
                          {% assign journal = (site.journal | sort: "rating") | reverse | slice: 0, 5 %}
                          {% for post in journal | %}
                            <li><a class="Link__link___3dWao  " href="{{ post.url }}">{{ forloop.index }}. {{ post.title }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="FooterDirectory__panel___2uuX1">
                        <h4><a href="/annual_letters">Annual Letters</a></h4>
                        <ul>
                          {% assign letters = (site.annual_letters | sort: "date") | reverse | slice: 0, 8 %}
                          {% for letter in letters %}
                            <li><a class="Link__link___3dWao  " href="{{ letter.url }}">{{ letter.date | date: "%Y" | minus: 1 }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
