
            <div class="MainHeader__topBar___1yqIc">
                <div class="MainHeader__topBarItems___13CTQ">
                    <div class="MainHeader__subscribeLink___3TGEc">
                        <div class="MainHeader__fullSubscribe___dolgp">
                            <div data-cm-unit="show-failsafe">
                                <div data-cns="cns-slot-global-header" class=""></div>
                            </div>
                        </div>
                        <div class="MainHeader__collapseSubscribe___2doFO">
                            <div data-cm-unit="show-failsafe">
                                <div data-cns="cns-slot-collapsed-nav" class=""></div>
                            </div>
                        </div>
                    </div>
                    <div data-track-type="nav" data-track-location="logo" class="Logo__componentLogo___1mTF4 Logo__full___23VWL">
                        <a class="Logo__logo___3DzHd" href="/">
                            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
                        </a>
                    </div>

                </div>
            </div>
