
<div class="content-width-div w-clearfix">
  <img alt="Logo Image of {{ site.title }}" src="{{ site.favicon }}" title="Logo Image of {{ site.title }}" class="image" />
  <div class="w-richtext">
    <p class="Card__dek___29Iu1">I've been a Digital Consultant, a Data Scientist and a Software Engineer.</p>
    <p class="Card__dek___29Iu1">I love creating things from scratch, like an automated <a href="https://instagram.com/sightsofbcn">Instagram Community Manager</a>.</p>
    <p class="Card__dek___29Iu1">Learning fast is my superpower.</p>
    <p class="Card__dek___29Iu1">This site hosts all of my <a href="/articles">essays</a>, notes on everything I <a href="/books">read</a>, and <a href="/journal">more</a>.</p>
    <!-- <p>If you enjoy <a href="/projects">my work</a>, you should definitely join the weekly newsletter. It’s one email a week with everything interesting I’ve read or found, plus new articles and book notes.</p> -->
  </div>
  <!-- <div class="w-form">
    <form id="email-form" name="email-form" data-name="Email Form" class="home-form w-clearfix">
    <input type="email" class="home-text-field w-input" maxlength="256" name="email" data-name="email" placeholder="Your best email..." id="email-3" required="">
    <input type="submit" value="Join" data-wait="Please wait..." class="home-submit-button w-button">
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div> -->
</div>
