<nav>
    <div class="Navigation__navList___gJe7C Navigation__full___3tbkr">
        <ul>
          {% for item in site.data.navbar %}
            <li data-track-type="nav" data-track-location="button-news"><a class="Link__link___3dWao  " href="{{ item.url }}">{{ item.label }}</a></li>
          {% endfor %}
            <li class="Navigation__subscribe___3OCs_">
                <div data-cm-unit="show-failsafe">
                    <!-- <div data-cns="cns-slot-global-navbar" class=""></div><span data-placeholder="global-navbar"><a class="Link__link___3dWao  " rel="noopener noreferrer nofollow" target="_blank" href="https://subscribe.newyorker.com/subscribe/splits/newyorker/NYR_FAILSAFE?source=AMS_NYR_GLOBAL_NAVBAR_FAILSAFE_0">Subscribe</a></span></div> -->
                <div class="DropDown__dropDown___2J7gQ Navigation__showDropDown___2BXqe">
                    <div class="DropDown__hoverSpace___2KGci"></div>
                    <div data-cm-unit="show-failsafe">
                        <div data-cns="cns-slot-global-navbar-rollover" class=""></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
