<section class="SoloPromoSection__promoWrapper___2zsVH ">
    <div class="SoloPromoSection__promoColumn___1LgrN"><span class="SoloPromoSection__border___5SXPq"></span>
        <div class="Image__image___1PhYl SoloPromoSection__promoImage___4tYZW" role="button" tabindex="0">
            <picture class="component-responsive-image">
                <source srcSet="https://media.newyorker.com/photos/592f6ae6a82d7b284499db87/1:1/w_68,c_limit/promo-today-app@2x.png, https://media.newyorker.com/photos/592f6ae6a82d7b284499db87/1:1/w_136,c_limit/promo-today-app@2x.png 2x" /><img alt="" src="https://media.newyorker.com/photos/592f6ae6a82d7b284499db87/1:1/w_68,c_limit/promo-today-app@2x.png" title="" /></picture>
        </div>
        <p class="SoloPromoSection__promo___2XQ_v"><span>All magazine issues since 2008 are now available in The New Yorker Today app.</span> <span><a href="https://itunes.apple.com/app/apple-store/id1081530898?pt=45076&amp;ct=New%20Yorker%20Site%20Promo&amp;mt=8" target="_blank">Download now »</a></span></p>
    </div>
</section>
