<section class="SoloPromoSection__promoWrapper___2zsVH ">
    <div class="SoloPromoSection__promoColumn___1LgrN"><span class="SoloPromoSection__border___5SXPq"></span>
        <div class="Image__image___1PhYl SoloPromoSection__promoImage___4tYZW" role="button" tabindex="0">
            {% include newyorker/image-logo.html %}
        </div>
        <p class="SoloPromoSection__promo___2XQ_v">
          <span>Fancy knowing more about what this site is all <a href="/mystory">about</a>? </span>
        </p>
    </div>
</section>
