hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-color: #81a1c1;
}

img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 91.666667%;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
}

/* Hay que mencionar primero el p donde esta incluido */
p a {
  color: #8fbcbb;
}
p a:hover {
  color: #ebcb8b;
}

strong {
  font-family: "ClearfaceLT-Bold", Helvetica, sans-serif;
}

blockquote {
  border-left: 4px solid #ebcb8b;
  padding-left: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.75rem;
  margin-bottom: 2.75rem;
  color: #5e81ac;
}
