<hr>
<div class="contact-footer">
  <h5>Copyright</h5>
  <h6>I often post excerpts of books and articles I've read. If you, as a copyright holder, feel I have infringed on your copyright,
      please let me know and I will take down the link or modify the post in question.
  </h6>
  <h5>Words versus Terms</h5>
  <h6>When talking about other people's books, my approach is to write those notes as I were rewriting the book myself.
    That's a good way to grasp completely what the author means, rather than just the words that are written.
    A consequence of that approach is that all the opinions expressed here come as a result of my interpretation of what the author means by his words.
    It doesn't mean that the author indeed said what I interpret, but neither does it mean that I agree with what I interpret that the author is saying.
  </h6>
</div>
