<div class="">
  <p class="post-footer">I don't respond to the average email</p>
  <div class="disclaimer">
    <p>Although I read all of the emails I get, I don't have the capacity to respond to every inquiry. Thus, my default behaviour when receiving an email is to <strong>not</strong> respond.</p>
    <p>If you have something worth telling me, make time to compel a good case for why your email is worth considering and worth answering to, and <strong>please, send it to me</strong>. Just think twice whether you have to.
    <p>Consider this a spam filter, but more like the process most big firms use in their job applications: design a process with enough friction so that those candidates who eventually apply are <i>really</i> interested in the job offer.</p>
    <p>Provided that you can do that, I promise I'll deliver an email that will be, to the best of my ability, the most efficient for bringing your request to a successful conclusion, avoiding further back-and-forth emails and leaving actionable feedback "on your plate".</p></p>
  </div>
  <hr>
</div>
