<footer class="py-5 background-nord-0">
  <div class="container card mb-3">
    <div class="row no-gutters">
      <div class="col-2 mr-5">
        <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" class="card-img" alt="Fav icon">
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            Text
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Text
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Text
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if page.lang == 'es' %}
    {% include signature_es.html %}
  {% else %}
    {% include signature.html %}
  {% endif %}
</footer>
