<header class="blog-header {% unless page.title_background_color %}background-nord-0{% endunless %} pb-2"
        {% if page.title_background_color %}style="background-color: #{{page.title_background_color}}"{% endif %}>
  <div class="container">
    <div class="nav-scroller py-1">
      <div class="row">
        <div class="media col-4">
          <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
            <img src="{{ 'assets/images/logo-alvaro-duran.png' | prepend: site.baseurl }}" alt="Logo" class="mx-3">
          </a>
        </div>
        <!-- <nav class="nav d-flex justify-content-center col-md-9">
          {% for collection in site.data.navbar %}
            <a class="p-3 text-uppercase text-nord-4 small font-family-baloo" href="{{ collection.url[page.lang] }}">{{ collection.label[page.lang] | capitalize }}</a>
          {% endfor %}
        </nav> -->
        <nav class="nav d-flex justify-content-end col-8">
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
            <a class="p-3 text-uppercase text-nord-4" href="{{ page.url | prepend: site.baseurl }}">
              {% if page.lang == 'es' %}
              🇪🇸
              {% elsif page.lang == 'en' %}
              🇬🇧
              {% endif %}
            </a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>
