<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <h3 class="footer-heading" id="no-text-decoration"><a href="{{ site.baseurl }}/essays">Essays</a></h2>
        <ul>
        {% for category in site.categories %}
        {% unless category contains 'journal' or category contains 'booknotes' %}
          <li><a id="no-text-decoration" name="{{ category | first }}" href="/index-{{ category | first }}.html"><h4>{{ category | first| capitalize }}</h4></a>
        {% endunless %}
        {% endfor %}
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading" id="no-text-decoration"><a href="{{ site.baseurl }}/index-tags">Reading</a></h2>
        <ul>
          {% for tags in site.tags %}
          <li><a id="no-text-decoration" href="{{ site.baseurl }}/index-tags"><h4>{{ tags | first | capitalize }}</h4></a>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading" id="no-text-decoration"><a href="{{ site.baseurl }}/index-tags">About</a></h2>
        <ul>
          <li><a id="no-text-decoration" href="{{ site.baseurl }}/my-story"><h4>My story</h4></a>
          <li><a id="no-text-decoration" href="{{ site.baseurl }}/contact"><h4>Contact</h4></a>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p id="centered">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
