<div class="relatedPosts">

<h4>You may also enjoy</h4>

{% for post in site.posts %}
  {% assign sameTagCount = 0 %}
  {% for category in post.categories %}
    {% if post.url != page.url %}
      {% if page.categories contains category %}
        <h5><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" href="{{ post.url }}">{{ post.title }}</a></h5>
        {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
    {% if sameTagCount >= 3 %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

</div>
