<div class="relatedPosts">
<h4>You May Also Enjoy</h4>
{% assign num_posts = 0 %}
{% for post in site.posts %}
  {% for category in post.categories %}
    {% if num_posts >= 3 %}
        {% break %}
    {% endif %}
    {% if post.url != page.url %}
      {% if page.categories contains category %}
        <h5><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" href="{{ post.url }}">{{ post.title }}</a></h5>
        {% assign num_posts = num_posts | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
