<div class="relatedPosts">
{% unless page.categories contains 'journal' or page.categories contains 'articles' %}
<h4>You may also enjoy</h4>

{% for post in site.posts %}
  {% assign sameTagCount = 0 %}
  {% for category in post.categories %}
    {% if post.url != page.url %}
      {% if page.categories contains category %}
        <h5><span>{{ post.date | date_to_string }}</span> &raquo; <a   href="{{ post.url }}">{{ post.title }}</a></h5>
        {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
    {% if sameTagCount >= 2 %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% endunless %}
</div>
