
<!-- Twitter cards: validate at https://cards-dev.twitter.com/validator -->
<meta name="twitter:site"    content="@{{ site.author.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:title"   content="{{ site.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}


<!-- Twitter cards: validate at https://cards-dev.twitter.com/validator -->
<meta name="twitter:site"    content="@{{ site.author.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:title"   content="{{ site.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}


<meta name="twitter:card"  content="summary">
{% if page.book_image %}
<meta name="twitter:image" content="{{ book_image }}">
{% endif %}
<meta name="twitter:text:title" content="{{ site.title }}">

<!-- end of Twitter cards -->
