/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    // background-image: url(/../../assets/glacier.jpg);
    // background-size: cover;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

hr {
  border-width: 0.01px;
  margin-bottom: $spacing-unit / 2;
}


.hr-text {
  border-width: 0.01px;
  margin-bottom: 20px / 2;
  line-height: 0.1px;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  font-size: 10px;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}


h1, h2 {
  font-family: "Bitter", $base-font-family;
}
h3, h4 {
  font-family: "Lora", sans-serif;
}

p, i {
  font-family: "Lora", $base-font-family;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}
ul {
  margin: 0px;
}

li {
  border-left: 1px solid $brand-color;
  list-style-type: none;
  margin: 5px;
  padding: 0px 20px;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

#li-clean {
  border-left: 0px;
  list-style-type: none;
  margin-bottom: 50px;
  padding: 0px 0px;
}

#by-topic{
  margin-top: -15px;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: underline dotted;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 2px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    overflow-wrap: break-word;

    > :last-child {
        margin-bottom: 0;
    }
    font-family: "Playfair Display", serif;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlighted {
  background: $brand-color;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        vertical-align: middle;
        width: $icon-size;
        height: $icon-size;

        &:last-child {
            margin-right: 10px;
        }
        margin-left: 5px;

        path {
            fill: $brand-color;
            text-decoration: none;
        }
    }
}

#icon-kaggle {
  > svg {
    width: 1.5*$icon-size;
    height: 1.5*$icon-size;
  }

}

.intro {
  padding: 4.5*$spacing-unit 1.5*$spacing-unit $spacing-unit $spacing-unit;
  > .intro-text {
    > h1 {
      font-weight: 1.25*$base-font-weight;
      font-size: 3*$base-font-size;
      margin-bottom: $spacing-unit;
      }
    > .about-me {
      font-size: 1.25*$base-font-size;
      margin-bottom: $spacing-unit;
      }
    > .description {
      font-size: 1.25*$base-font-size;
    }
    > .profile-pic {
      float: right;
      height: 250px;
      width: auto;
      margin-left: 10px;
    }
  }
}

#brand-colored {
  color: $brand-color;
}

#spaced {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}
