
body{
  background-color: $nord6;
}
a{
  color: $nord7;
}
a:hover {
    color: $nord8;
    text-decoration: underline;
}

blockquote {
    border-left: 4px solid $nord3;
    padding: 0 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-style: italic;
    color: $nord0;
}

hr {
 border:0;
 border-top:0.01rem solid $nord3;
 display:block;
 height:1rem;
 padding:0;
 width:100%
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
