$brand-color: #002297;
$brand-color-2: #006e97;
$brand-color-3: #290097;
$brand-color-4: #00a4ca;
$background-color: #FFFFF0;


// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
