$text-color: #2a0d45;
$brand-color: #0080ff;
$brand-color-2: #006e97;
$brand-color-3: #290097;
$brand-color-4: #00a4ca;
$brand-color-5: #ffa74d;
$brand-color-6: #eee;
$background-color: #F8F8FF;

// Greys
$grey-color: #818078;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$spacing-unit: 35px;


// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
