<script type="text/javascript">
    window.cns = window.cns || {};
    window.cns.pageContext = {
        "channel": "magazine",
        "subChannel": "comment",
        "templateType": "article",
        "slug": "the-challenge-at-the-border-shows-no-signs-of-abating",
        "keywords": {
            "tags": ["immigrants", "immigration", "children", "border"],
            "platform": ["autopilot"],
            "copilotid": "5ce56fcc9f52773c8e14115a"
        },
        "server": "production"
    };
</script>
