.neon {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ec4899,
      0 0 70px #ec4899, 0 0 80px #ec4899, 0 0 100px #ec4899, 0 0 150px #ec4899;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ec4899,
      0 0 35px #ec4899, 0 0 40px #ec4899, 0 0 50px #ec4899, 0 0 75px #ec4899;
  }
}
