/* :root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
} */

.essay > a:not([class]) {
  color: inherit;
}

.essay > h1,
.essay > h2,
.essay > h3,
.essay > h4 {
  @apply leading-snug;
}

.essay > h1,
.essay > h2 {
  @apply font-black;
}

.essay > h1 {
  @apply text-4xl md:text-7xl;
}

.essay > h2 {
  @apply text-3xl md:text-4xl;
}

.essay > h3 {
  @apply text-3xl;
}

.essay > p {
  @apply md:text-lg;
}

.essay > blockquote {
  @apply w-screen;
  margin-left: calc(50% - 50vw);
  background-color: #d8dee9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%236799b8' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23445f92' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%237eb5ce' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235682a9' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2371add2' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235492b8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2376a6c7' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23559ec7' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236689b1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2374aab7' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%236d93bc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%237bb4c4' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.essay > blockquote p {
  @apply mx-auto my-5 py-5 md:my-7 md:py-7 text-xl md:text-3xl text-left italic text-nord-0;
  max-width: 40ch;
}

.essay > blockquote p:last-child {
  @apply mt-0 pt-0;
}

.essay > img {
  max-width: min(55rem, 100%);
}

.essay > figcaption {
  @apply text-xs italic mt-4;
}

.essay > * + * {
  margin-top: 1em; /* https://every-layout.dev/layouts/stack/ */
}

.essay > p,
.essay > li {
  max-width: 60ch;
}

.essay > h1 {
  max-width: 15ch;
}

.essay > h2,
.essay > h3 {
  max-width: 25ch;
}

.essay > {
  --flow-space: 2.5rem;
  @apply mx-auto py-6;
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
}

.essay > time {
  --flow-space: 1rem;
  @apply block;
}

.essay > :is(h2, h3) + * {
  --flow-space: 4.2rem;
}

.essay > figure,
.essay > figure + * {
  --flow-space: 4.2rem;
}
/* Non-readability stuff */

/* Treat h6 as inline notes */
.essay > h6 {
  @apply md:text-lg italic opacity-70 ml-5 md:ml-10;
  max-width: 55ch;
}

/* Hyperlink */
.essay > p a {
  background: linear-gradient(#ebcb8b, #ebcb8b);
  background-size: 100% 0rem;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  transition: all 0.1s linear 0s;
  border-bottom: solid 1px #ebcb8b;
}
.essay > p > a:hover {
  background-size: 100% 100%;
  color: #4c566a;
}
/* End Hyperlink */

/* Horizontal Line */
.essay > hr {
  @apply mx-auto md:ml-0 opacity-20 my-10 md:my-16;
  max-width: 60ch;
}
/* End Horizontal Line */

/* Side Note */
.sidenote {
  @apply my-5 text-xs leading-snug text-right w-11/12 mx-auto;
}
.sidenote > em {
  @apply text-nord-7;
}
.sidenote > a {
  @apply underline;
}

@screen lg {
  .sidenote {
    @apply relative float-right clear-right w-5/12 text-left text-sm my-0;
    margin-right: -50%;
  }
}

/* End Side Note */
