article > h1 {
  @apply text-4xl my-5;
}

article > h2 {
  @apply text-3xl my-3;
}

article > h3 {
  @apply text-2xl my-2;
}

article > h4 {
  @apply text-xl my-1;
}

article > h5 {
  @apply text-lg;
}

article > h6 {
  @apply font-semibold;
}

article > p {
  @apply text-lg mb-3 leading-relaxed;
}

/* Hyperlink */
article > p > a {
  background: linear-gradient(#ebcb8b, #ebcb8b);
  background-size: 100% 0.5rem;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  transition: all 0.1s linear 0s;
}
article > p > a:hover {
  background-size: 100% 100%;
}
/* End Hyperlink */

/* Italics */
article > p > em {
  @apply text-nord-3;
}
/* End Italics */

/* Quote */
article > blockquote {
  @apply bg-nord-6 mx-auto my-8 py-8 px-8 w-7/12 text-lg leading-loose italic text-nord-3 rounded-xl shadow-lg border-l-8 border-nord-12;
}
/* End Quote */

/* Side Note */
.sidenote {
  @apply relative float-right clear-right w-4/12 my-0 text-sm leading-snug text-left;
  margin-right: -50%;
}
.sidenote > em {
  @apply text-nord-3;
}
.sidenote > a {
  @apply underline;
}
/* End Side Note */

/* Horizontal Line */
article > hr {
  @apply border-nord-0 border-opacity-50 mx-auto my-12 w-1/12;
}
/* End Horizontal Line */

/* Books must be tagged with <book></book> */
book {
  @apply italic;
}
