article > h1 {
  @apply text-2xl md:text-4xl my-5;
}

article > h2 {
  @apply text-xl md:text-3xl my-8 text-nord-7 font-bold;
}

article > h3 {
  @apply text-lg md:text-2xl my-2;
}

article > h4 {
  @apply text-base md:text-xl my-1;
}

article > h5 {
  @apply text-base md:text-lg font-semibold;
}

article > h6 {
  @apply text-base md:text-lg underline;
}

article > p {
  @apply text-base md:text-lg mb-3 leading-relaxed text-justify;
  hyphens: auto;
}

article > p > figure > figcaption {
  @apply text-center text-xs md:text-sm mt-1 mb-2 leading-none w-11/12 mx-auto;
}

/* Hyperlink */
article > p > a {
  background: linear-gradient(#ebcb8b, #ebcb8b);
  background-size: 100% 0rem;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  transition: all 0.1s linear 0s;
  border-bottom: solid 1px #ebcb8b;
}
article > p > a:hover {
  background-size: 100% 100%;
  color: #4c566a;
}
/* End Hyperlink */

/* Italics */
article > p > em {
  @apply text-nord-7;
}
/* End Italics */

/* Quote */
article > blockquote {
  @apply bg-nord-6 mx-auto my-8 py-8 px-8 w-11/12 text-base md:text-lg leading-relaxed md:leading-loose italic text-nord-3 rounded-xl shadow-sm border-l-8 border-nord-12;
}
article > blockquote > p > em {
  @apply not-italic;
}
/* End Quote */

/* Side Note */
.sidenote {
  @apply my-5 text-xs leading-snug text-right w-11/12 mx-auto;
}
.sidenote > em {
  @apply text-nord-7;
}
.sidenote > a {
  @apply underline;
}

@screen lg {
  .sidenote {
    @apply relative float-right clear-right w-5/12 text-left text-sm my-0;
    margin-right: -50%;
  }
}

/* End Side Note */

/* Horizontal Line */
article > hr {
  @apply border-nord-7 border-opacity-50 mx-auto my-12 w-1/12;
}
/* End Horizontal Line */
