{% assign words = include.post.content | number_of_words %}
<footer class="ArticleFooter__footer___3-wlJ">
  {% for book in site.data.mentions %}
    {% if book.permalink == include.post.permalink %}
      {% assign mentions = (book.mentions | sort: "rating") | reverse | slice: 0, 3 %}
      {% assign mentioned = mentions | size%}
      {% if mentioned > 0%}
        <ul class="Tags__tags___1WDCj">
            <span class="Tags__heading___3sE5b">More:</span>
          {% for mention in mentions %}
            <li class="Tags__item___3xh9I">
              <a class="Link__link___3dWao" href="{{ mention.url }}">{{ mention.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
</footer>
