<aside class="Layout__sidebar___2GcEE">
    <div class="ArticlePageSidebar__rail___PXqb4">
        <div class="ArticlePageSidebar__railItemContainer___3VZqQ">
            <div class="ArticlePageSidebar__railItem___1K-hs">
                <div data-cm-unit="show-failsafe">
                    <div data-cns="cns-slot-siderail" class=""></div>
                </div>
            </div>
        </div>
        <div class="ArticlePageSidebar__railItemContainer___3VZqQ">
            <div class="ArticlePageSidebar__railItem___1K-hs">
                <div class="RecirculationMostPopular__default___3LVxh">
                    {% include best-rated-books.html %}
                </div>
                <div data-cm-unit="show-failsafe">
                    <div data-cns="cns-slot-article-rightrail" class=""></div>
                </div>
            </div>
        </div>
        <div class="ArticlePageSidebar__railItemContainer___3VZqQ">
            <div class="ArticlePageSidebar__railItem___1K-hs ArticlePageSidebar__last___2Ciro">
                <div data-cm-unit="show-failsafe">
                    <div data-cns="cns-slot-siderail" class=""></div>
                </div>
            </div>
        </div>
    </div>
</aside>
