<section data-track-type="recirc" data-track-location="mod-latest" data-service="none" data-source="curated" class="LatestSection__latestRow___3wyYQ">
    <div class="LatestSection__latestColumn___9T9OS">
        <h5 class="LatestSection__sectionHeader___1xOSE">The Journal</h5>
        <div class="LatestSection__listContainer___3lMZ4">

          {% for post in site.journal %}
                <div class="Card__theLatest___2bNJt">
                    <div class="Card__content___10ZW7 Card__hasPhoto___2TFok">
                        <a class="Link__link___3dWao  " href="{{ post.url }}"><h3 class="Card__hed___3aD8c">{{ post.title }}</h3></a>
                        <div class="Card__dekImageContainer___3CRKY">
                            <a class="Link__link___3dWao  " href="{{ post.url }}">
                                <div class="Image__image___1PhYl Card__image___3i3np allbooks" role="button" tabindex="0">
                                    {% include newyorker/image.html post=post %}
                                </div>
                            </a>
                            <p class="Card__dek___2E3rB">{{ post.excerpt }}</p>
                        </div>

                        <div>
                          {% include newyorker/author-and-date.html post=post %}
                        </div>

                    </div>
                </div>


          {% endfor %}

        </div>

        <!-- More Latest Items -->
        <a class="Link__link___3dWao LatestSection__moreStories___3ETco Link__secondary___3lxp9" href="/journal">More Stories</a></div>
</section>
