<section class="my-5" id="aboutSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4 home-heading font-family-baloo pb-5 text-nord-0">
          {% if include.lang == 'en' %}
            About me
          {% elsif include.lang == 'es' %}
            Sobre mí
          {% endif %}
        </h1>
      </div>
    </div>
    <div class="card row mb-3">
      <div class="row no-gutters">
        <div class="col-4">
          <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" class="card-img" alt="...">
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              {% if include.lang == 'en' %}
              <h3 class="font-family-baloo text-center">Online, everything is about figuring out<br>what to automate and what not</h3>
              {% elsif include.lang == 'es' %}
              <h3 class="font-family-baloo text-center">Online, todo consiste en entender<br>qué automatizar y qué no</h3>
              {% endif %}
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row card-body">
            <div class="col-md-1"></div>
            <div class="col-md-10 card-body container">

                {% if include.lang == 'en' %}
                  <h5 class="card-text font-family-montserrat">I'm a physicist that loves pizza, staring at the same painting in a museum for ages, and listen to <a href="https://en.wikipedia.org/wiki/Generative_music">generative music</a>.</h5>
                  <p class="mt-3 card-text font-family-montserrat">For the past {{ site.time | date: '%Y' | minus: 2014 }} years, I've worked in a vast range of areas related to digital businesses: I've <strong>built websites</strong> for tax advisors, <strong>created intuitive dashboards</strong> that influenced million-dollar decisions, and <strong>designed platforms</strong> that were used by thousands of businesses.</p>
                  <p class="card-text font-family-montserrat">I design, build and maintain websites that stand out for their simplicity and ease of use, both for the user and for the developer, so that iterating is always a seamless process.</p>

                {% elsif include.lang == 'es' %}
                <h5 class="card-text font-family-montserrat">Soy un físico al que le gusta la pizza, quedarse mirando el mismo cuadro en un museo durante horas, y escuchar <a href="https://en.wikipedia.org/wiki/Generative_music">música generativa</a>.</h5>
                <p class="mt-3 card-text font-family-montserrat">Durante los últimos {{ site.time | date: '%Y' | minus: 2014 }} años, he trabajado en diferentes sectores del negocio digital: He <strong>desarrollado páginas web</strong> para gestores administrativos, <strong>creado <i>dashboards</i> intuitivos</strong> que influyen decisiones respecto a millones de dólares, y <strong>diseñado plataformas</strong> que usan miles de personas.</p>
                <p class="card-text font-family-montserrat">Diseño, desarrollo y mantengo sitios web que destacan por su simplicidad y facilidad de uso, tanto para el usuario final como para el desarrollador, de modo que iterar sea siempre un proceso sencillo.</p>
                {% endif %}
            </div>
            <div class="col-md-1"></div>

          </div>

        </div>
      </div>
    </div>
  </div>


</section>
