<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4 home-heading font-family-baloo pb-5 text-nord-0">
          {% if include.lang == 'en' %}
            About me
          {% elsif include.lang == 'es' %}
            Acerca de mí
          {% endif %}
        </h1>
      </div>
    </div>
    <div class="card row mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ '/assets/images/profile-pic.jpg' | prepend: site.baseurl }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="row card-body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              {% if include.lang == 'en' %}
              <h3 class="card-title font-family-baloo text-center">Data Scientist, Software Engineer, Digital Consultant</h3>
              <h3 class="card-title font-family-baloo">The Swiss Army knife.</h3>
              {% elsif include.lang == 'es' %}
              <h3 class="card-title font-family-baloo text-center">Científico de Datos, Ingeniero de Software, Consultor Digital</h3>
              <h3 class="card-title font-family-baloo text-center">La navaja suiza.</h3>
              {% endif %}
            </div>
            <div class="col-md-1"></div>


          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 card-body container">

                {% if include.lang == 'en' %}
                  <p class="card-text font-family-montserrat text-center">In an ever changing world, the ability to adapt and overcome trumps current state of affairs. If you are in outer space, <a href="https://www.swissarmy.com/us/en/Victorinox/Inspiration/Man-on-the-Moon/cms/manonthemoon">a Swiss army knife is part of your standard equipment</a>.</p>
                  <p class="card-text font-family-montserrat text-center">I design, build and maintain websites that stand out for their simplicity and ease of use, both for the user and for the developer, so that iterating is always a seamless process.</p>
                  <p class="card-text font-family-montserrat text-center">Build your site now, <strong>with an eye on the future</strong>.</p>

                {% elsif include.lang == 'es' %}
                <p class="card-text font-family-montserrat text-center">En un mundo en constante movimiento, la capacidad de adaptación y superación es más valiosa que el status quo. Si alguna vez te encuentras en el espacio, no olvides llevar <a href="https://www.swissarmy.com/us/en/Victorinox/Inspiration/Man-on-the-Moon/cms/manonthemoon">una navaja suiza</a>.</p>
                <p class="card-text font-family-montserrat text-center">Diseño, construyo y mantengo páginas web que destacan por su simplicidad y manejo, tanto para el usuario final como para el desarrollador que continúa trabajando con ellas, para que iterar nuevas ideas sea siempre un proceso sencillo.</p>
                <p class="card-text font-family-montserrat text-center">Construye tu sitio web ahora, <strong>con un ojo en el futuro</strong>.</p>

                {% endif %}
            </div>
            <div class="col-md-1"></div>

          </div>

        </div>
      </div>
    </div>
  </div>


</section>
