<!-- https://bootsnipp.com/snippets/OzQj -->
<section class="container pb-5" style="background-image: url({{ '/assets/images/profile-pic.jpg' | prepend: site.baseurl }}); background-repeat:no-repeat;">
  <!--
For CSS Grid expertise:
Rachel Andrew: https://gridbyexample.com/
Jen Simmons: http://labs.jensimmons.com/
 -->
<div id="grid">
<!-- row0 -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row1 -->
  <div></div>
  <div></div>
  <div id="row1a"></div>
  <div id="row1b"><p class="font-family-montserrat">Data Scientist, Business Analyst, Software Engineer.</p><p class="font-family-montserrat mt-4">The Swiss Army knife.</p></div>
  <div></div>
<!-- row2 -->
  <div></div>
  <div id="row2a"></div>
  <div id="row2b"><p>Álvaro</p><p>Durán</p></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row3 -->
  <div></div>
  <div id="row3a"></div>
  <div id="row3b"></div>
  <div></div>
  <div></div>
<!-- row4 -->
  <div></div>
  <div></div>
  <div></div>
  <div id="row4a"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row5 -->
  <div></div>
  <div id="row5a"></div>
  <div id="row5b"></div>
  <div id="row5c"><p class="font-family-montserrat">I help small business find their way in the Internet jungle.</div>
  <div></div>
<!-- row6 -->
  <div></div>
  <div></div>
  <div id="row6a"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row7 -->
  <div></div>
  <div><p class="font-family-montserrat">An online business should make things easier.</p></div>
  <div></div>
  <div></div>
  <div id="row7a"></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row8 -->
  <div></div>
  <div></div>
  <div></div>
  <div id="row8a"></div>
  <div id="row8b"></div>
  <div></div>
<!-- row9 -->
  <div></div>
  <div id="row9a"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row10 -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div id="row10a"></div>
  <div></div>
  <div></div>
  <div></div>
<!-- row11 -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
</section>
