<section id="heroSection" class="background-nord-0">
  <div class="container px-5">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <h1 class="text-nord-6 home-heading font-family-baloo">
            {% if include.lang == 'en' %}
              <p><span class="text-nord-7">Originality</span> is a form of <span class="text-nord-11">rebellion</span></p>
            {% elsif include.lang == 'es' %}
              <p>La <span class="text-nord-7">Originalidad</span> es una forma de <span class="text-nord-11">rebelarse</span></p>
            {% endif %}
          </h1>
          <h4 class="text-nord-6 font-family-montserrat">
            {% if include.lang == 'en' %}
              Unlock the digital potential of your business
            {% elsif include.lang == 'es' %}
              Descubre el potencial digital de tu negocio
            {% endif %}
          </h4>
          <h6 class="mt-5 text-nord-6 font-family-montserrat">
            {% if include.lang == 'en' %}
              <p><i class="fas fa-check-circle text-nord-7"></i> Keep your website relevant</p>
              <p><i class="fas fa-check-circle text-nord-7"></i> Have a go-to reference for your business online</p>
              <p><i class="fas fa-check-circle text-nord-7"></i> Stand out from your peers</p>
            {% elsif include.lang == 'es' %}
              <p><i class="fas fa-check-circle text-nord-7"></i> Actualiza tu página web</p>
              <p><i class="fas fa-check-circle text-nord-7"></i> Manten una referencia online para tu negocio</p>
              <p><i class="fas fa-check-circle text-nord-7"></i> Destaca del resto</p>
            {% endif %}
          </h6>
        </div>
        <div class="row">
          <div class="col-md-8">
            <form class="row">
              <!-- <input type="email" class="col-md-8 form-control rounded-left text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{% if include.lang == 'en' %}Join the newsletter!{% elsif include.lang == 'es' %}¡Únete a la newsletter!{% endif %}"> -->
              <a class="col-md-6 btn btn-primary d-flex rounded-right justify-content-center font-family-baloo background-nord-7" href="https://buttondown.email/alvaroduran">
                  {% if include.lang == 'en' %}
                    Join the newsletter!
                  {% elsif include.lang == 'es' %}
                    ¡Únete a la newsletter!
                  {% endif %}
              </a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-5 media">
        <img class="img-fluid w-100 d-none d-md-block align-self-center" src="{{ 'assets/svgs/peak-mountain.svg' | prepend: site.baseurl }}  " alt="">
      </div>
    </div>
  </div>
</section>
<!-- https://getwaves.io/ -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2e3440" fill-opacity="1" d="M0,224L48,213.3C96,203,192,181,288,170.7C384,160,480,160,576,170.7C672,181,768,203,864,192C960,181,1056,139,1152,101.3C1248,64,1344,32,1392,16L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
