<section class="background-nord-0">
  <div class="container pt-5 px-5">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-nord-6 home-heading font-family-baloo">
          {% if include.lang == 'en' %}
          <span class="text-nord-7">Originality</span><br>is a form of <span class="text-nord-11">rebellion</span>
          {% elsif include.lang == 'es' %}
          La <span class="text-nord-7">Originalidad</span><br>es una forma de <span class="text-nord-11">rebelarse</span>
          {% endif %}
        </h1>
        <h3 class="text-nord-6 font-family-montserrat">
          {% if include.lang == 'en' %}
          I design technology that<br><span class="font-weight-bold">fascinate</span>, <span class="font-weight-bold">delight</span> and <span class="font-weight-bold">knock out!</span>
          {% elsif include.lang == 'es' %}
          Diseño tecnología que<br><span class="font-weight-bold">fascine</span>, <span class="font-weight-bold">asombre</span> y <span class="font-weight-bold">¡rompa moldes!</span>
          {% endif %}
        </h3>
      </div>
      <div class="col-md-5">
        {% include manypixels/peak-mountain.svg %}
      </div>
    </div>
  </div>
</section>
<!-- https://getwaves.io/ -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2e3440" fill-opacity="1" d="M0,224L48,213.3C96,203,192,181,288,170.7C384,160,480,160,576,170.7C672,181,768,203,864,192C960,181,1056,139,1152,101.3C1248,64,1344,32,1392,16L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
