<svg style="margin-bottom: -1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2e3440" fill-opacity="1" d="M0,224L120,202.7C240,181,480,139,720,128C960,117,1200,139,1320,149.3L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
<section id="previousCompanies" class="background-nord-0 mb-0">
  <div class="container">
    <div class="row mb-5 d-flex justify-content-center">
      <h1 class="display-4 home-heading font-family-baloo text-nord-4">
        {% if include.lang == 'en' %}
          Companies I've partnered with
        {% elsif include.lang == 'es' %}
          Compañías con las que he colaborado
        {% endif %}
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        {% include logos/octopusLabs.svg %}
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        {% include logos/capco.svg %}
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        {% include logos/hsbc.svg %}
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        {% include logos/bradesco.svg %}
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/images/cogac.jpg' | prepend: site.baseurl }}" class="w-50 h-32  align-self-center mr-3" alt="Fav icon">
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        {% include logos/renta4.svg %}
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/images/everis.png' | prepend: site.baseurl }}" class="w-50 h-32  align-self-center mr-3" alt="Fav icon">
      </div>
    </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2e3440" fill-opacity="1" d="M0,192L120,197.3C240,203,480,213,720,213.3C960,213,1200,203,1320,197.3L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
