<section id="testimonials" class="container">
  <div class="row mb-4 d-flex justify-content-center">
    <h1 class="display-4 home-heading font-family-baloo">
      {% if include.lang == 'en' %}
        What people think about my work
      {% elsif include.lang == 'es' %}
        Lo que opinan de mi trabajo
      {% endif %}
    </h1>
  </div>
  <div class="card-columns">
    {% for testimonial in site.data.testimonials %}
    <div class="card">
      <blockquote class="blockquote">
        <p>{{ testimonial.text[include.lang] }}</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            {{ testimonial.author }}{% if testimonial.job_title%}, {{ testimonial.job_title}}{% endif %} {% if include.lang == 'es' %}en{% else %}on{% endif %} <cite title="Source">{{ testimonial.source}}</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    {% endfor %}
  </div>

</section >
