<head>
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="id" content="5ce4762e493dcc1014a2c30b" />

    <!-- SCRIPT 01 -->
    <!-- SCRIPT 02 -->
    <!-- SCRIPT 03 -->
    <!-- SCRIPT 04 -->
    <!-- SCRIPT 05 -->
    <!-- SCRIPT 06 -->

    <!-- META COPYRIGHT -->
    <!-- META DESCRIPTION -->
    <!-- META FACEBOOK -->
    <!-- META OG -->
    <!-- META TWITTER -->
    <!-- SCRIPT 07 -->
    <link rel="stylesheet" href="/css/homepage.7d0a95b98c3134ef7237.css" />
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    <!-- SCRIPT 08 -->
    <!-- SCRIPT 09 -->

</head>
