<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="The New Yorker" />
<meta property="og:image" content="https://media.newyorker.com/photos/597238624867016af4a67a62/16:9/w_1200,h_630,c_limit/HP-Social-Tout-B-072117.png" />
<meta property="og:title" content="The New Yorker" />
<meta property="og:description" content="Reporting, Profiles, breaking news, cultural coverage, podcasts, videos, and cartoons from The New Yorker." />
<meta property="og:url" content="https://www.newyorker.com" />
<meta property="og:type" content="article" />
