<meta name="twitter:site" content="@NewYorker" />
<meta name="twitter:domain" content="www.newyorker.com" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="The New Yorker" />
<meta name="twitter:description" content="Reporting, Profiles, breaking news, cultural coverage, podcasts, videos, and cartoons from The New Yorker." />
<meta name="twitter:image:src" content="https://media.newyorker.com/photos/597238624867016af4a67a62/16:9/w_1200,h_630,c_limit/HP-Social-Tout-B-072117.png?mbid=social_retweet" />
