<section data-track-type="recirc" data-track-location="mod-contributors" data-service="none" data-source="curated" class="ContributorsSection__section___abHAt">
    <div class="ContributorsSection__sectionRow___J3SGx">
        <div class="ContributorsSection__sectionColumn___2_3FJ">
            <h5 class="ContributorsSection__sectionHeader___1LeEd">Collections</h5>
            <div class="ContributorsSection__wrapper___2PiNU">

              {% for collection in site.collections %}
                {% if collection.label != 'posts' %}
                <div class="Contributor__itemContainer___3CS3_">
                    <a class="Link__link___3dWao  " href="/{{ collection.label }}">
                        <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                            <picture class="component-responsive-image">
                                <img alt="" src="{{ collection.docs.last.image }}" title="" />
                              </picture>
                        </div>
                    </a>
                    <div>
                      <a class="Link__link___3dWao Contributor__name___2cnfi " href="/{{ collection.label }}">{{ collection.label | replace: "_", " " | capitalize }}</a>
                      <a class="Link__link___3dWao  " href="{{ collection.docs.last.url }}">
                        <h3 class="Contributor__hed___2z_RO">{{ collection.docs.last.title }}</h3>
                      </a>
                      <a class="Link__link___3dWao Contributor__work___392rP " href="/{{ collection.label }}">More on this collection</a></div>
                </div>
                {% endif %}
              {% endfor %}

            </div>
        </div>
    </div>
</section>
