<section>
  <div class="card-columns">
    {% assign posts=include.collection | where:"lang", include.lang | sort:"rating" | reverse %}
    {% for post in posts %}
      <div class="card zoom">
        <a href="{{ post.url | prepend: site.baseurl }}" class="text-reset text-decoration-none">
          <img src="{{ post.image }}" class="card-img-top" alt="Image of {{ post.title }}">
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <div class="blockquote mb-0 card-text">
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
</section>
