---
layout: page
---
<a id="no-text-decoration" name="{{ category | first }}" href="/essays"><h2 class="post-title">Recent</h2></a>
<ul class="posts">
    {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<ul style="margin-top: 50px">
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  {% if category contains 'journal' %}
    {% continue %}
  {% endif %}
  <li id="li-clean"><a id="no-text-decoration" name="{{ category | first }}" href="/subjects/{{ category | first }}"><h2 class="post-title">{{ category | first| capitalize }}</h2></a>
  <br>
    <ul>
    {% for post in category.last %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      <h5 class="excerpt">{{ post.excerpt }}</h5>
    {% endfor %}
    <p id="spacing"> </p>
    </ul>
  </li>

{% endfor %}
</ul>

<h2><a id="no-text-decoration" href="/index-journal.html">Journal</a></h2>
  <ul class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'journal'%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    <p id="spacing"> </p>
</ul>
{% include hr.html %}
