---
layout: default
---
<h1>Essays</h1>

<h2>Recent Entries</h2>
  <ul class="posts">
    {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" href="{{ post.url }}">{{ post.title }}</a></li>
      <!-- {% unless post.categories contains 'booknotes' %}
      <h5>{{ post.excerpt }}</h5>
      {% else %}
      <br>
      {% endunless %} -->
    {% endfor %}
    <p id="spacing"> </p>
</ul>

<ul style="margin-top: 30px">
{% for category in site.categories %}
  {% unless category contains 'booknotes' %}
  <li id="li-clean"><a name="{{ category | first }}" href="/index-{{ category | first }}.html"><h2>{{ category | first| capitalize }}</h2></a>
  {% else %}
  <li id="li-clean"><h2><a name="{{ category | first }}" href="/index-{{ category | first }}.html">{{ category | first| capitalize }}</a></h2>
                    <h4 id="by-topic"><a href="/index-tags.html">by topic</a></h4>
  {% endunless %}
    <ul>
    {% for post in category.last %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% unless post.categories contains 'booknotes' %}
      <h5>{{ post.excerpt }}</h5>
      {% else %}
      <br>
      {% endunless %}
    {% endfor %}
    <p id="spacing"> </p>
    </ul>
  </li>
{% endfor %}
</ul>
