---
layout: default
---
<div class="intro">
  <div class="intro-text">
    <img class="profile-pic" src="/assets/profile-pic.png" alt="">
    <h1>Hi, I'm <a href="/my-story">Álvaro</a>!</h1>
    <div class="about-me">
      {{ content }}
    </div>
    <p class="description">This site hosts articles on <a href="index-technology">Technology</a> and <a href="index-science">Science</a>, notes on <a href="index-tags">the books I've read</a>, and long-form <a href="/index-articles">essays</a> based on those notes. I also keep a <a href="index-journal">journal</a> that help me explore different writing styles and brain dump.</p>
    <p class="description">I've built this website from scratch. You can find the code that supports it <a href="https://github.com/ohduran/ohduran.github.io">here</a>.</p>

  </div>
</div>
<br style="margin: 100px;">

      <div class="about-me">
        {% include about.md %}
      </div>
