---
layout: default
---
<section style="background-color: #{{ page.title_background_color }}">
  <div class="container pt-5 px-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="home-heading font-family-baloo text-nord-6">{{ page.title }}</h1>
      </div>
      {% if page.subtitle %}
      <div class="col-md-12 text-center">
        <h2 class="font-family-baloo text-nord-6">{{ page.subtitle }}</h2>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- https://getwaves.io/ -->
<svg style="margin-top: -3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#{{ page.title_background_color }}" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>

<section class="container">
  {{ content }}
</section>
